---
layout: landing
---
				<!-- Banner -->

					<section id="banner">
						<div class="inner">
							<img src="{{ site.baseurl }}/images/people/delpix.png" alt="delpix">
							<p></p>
						</div>

						<div class="inner">
							<h2>{{ site.title }}</h2>
							<h3>{{ site.description | markdownify }}</h3>
						</div>

						 	<a href="#one" class="more scrolly">Find Out More</a>

					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>I've got what you need!</h2>
								<p><em>I'm a technologist by vocation, businessman by fate, startupper by choice, innovator by destiny.
									 I worked as a IT management consultant for 11 years, CEO for 12 years, project manager for 8 years,
									 programmer for 10 years.</em></p>
							</header>

							<p><img src="images/people/Luca-2018.jpg" class="img-circle" width="220px">
							  <h5>Luca Severini</h5></p>

							<p>I imagine innovative business models and design software applications that enable them.</p>

							<p>The software applications that I design are based on «intelligent agents» and «smart contracts»,
								software components that support digital business, fully compliant the paradigms
								of the Digital Economy, the shape of economy of the Digital Age.</p>

								<p>I am currently working on  
								   <a href="https://www.researchgate.net/publication/280090856_The_Semantic_Approach_to_Cyber_Security_Towards_Ontology_Based_Body_of_Knowledge"
								   target="0"><b>Cybersecurity</b></a> and 
								   <a href="https://www.researchgate.net/publication/315619465_A_more_pragmatic_Web_30_Linked_Blockchain_Data"
								   target="0"><b>Blockchain</b></a> areas.
								   For over 12 years, I have been working on <a href="https://www.w3.org/standards/semanticweb/"
								   target="0"><b>Semantic Web</b></a> technologies. They are the main technologies of
									 <a href="https://digitalpublichistory.wordpress.com/modules/week-2-what-is-digital-humanities/dh-kelly/"
	 								 alt target="0"><b>Web 3.0</b></a>.
								   In this field, I have performed applied research activities, designing many solutions based on
								   Knowledge Representation and Automated Reasoning.</p>

								 <p>From the dawn, I've been dealing with the Internet and its technologies.
								    I've managed many development projects for applications based on Web 2.0 technologies,
								    and Web 1.0 before. Many years ago, always passionate about digital electronics and microprocessors,
								    I learned programming in <a href="http://www.6502.org/tutorials/"
								   target="0"><b>6502 Assembly</b></a> on a fantastic <a href="https://apple2history.org/"
								   target="0"><b>Apple II</b></a>.</p>

						</div>

					</section>


				<!-- Two -->
				<section id="two" class="wrapper style3 special">
					<div class="inner">
						<header class="major">
							<h2>At your service!</h2>
							<p><em>I want help you to create and grow your great, beautiful and profitable <b>Digital Space</b>!</em></p>
						</header>
						<ul class="features">
							<li class="icon fa-lock">
								<h3>Cybersecurity</h3>
				<p>Protect the corporate cyber perimeter is an essential factor for security of data data and information processed by digital systems.</p>
            	<p>Implementing an efficient Cybersecurity Management System (CSMS) helps in raising the own digital resources knowledge and the awareness 
				level concerning cyber risks related.</p>
				<p>The outcome of my activity is design and help you to implement a tailored CSMS using the 
				<a href="https://www.nist.gov/cyberframework" target=0>NIST Cybersecurity Framework</a> taxonomy.</p>
							</li>
							<li class="icon fa-btc">
								<h3>Blockchain</h3>
				<p>With online human activities growing and incidence increasing of digital services in richness creation, Decentralized Finance becomes 
				a must for new digital business models.</p>
                <p>I urge every entrepreneur to rethink their business models and carefully consider whether they can be reinterpreted 
				according to the De-Fi paradigms.</p>
				<p>The outcome of my work is help you to design powerful Fintech Apps that implement your profitable new De-Fi businesses.</p>
							</li>
							<li class="icon fa-share-alt-square">
								<h3>Graph Database</h3>
				<p>Computing power and data storage capacity are increasing all the time.</p>
                <p>Among the technologies of greatest interest for creating new classes of applications able to process large amounts of data, 
				there are the so-called Graph Databases. They allow for the storage of large amounts of metadata that provide unambiguous meaning to the data properties.</p>
				<p>At this type of knowledge base automated reasoning and machine learning processes can be launched to develop powerful and unmanned applications.</p> 
				<p>The outcome of my work is help you to design powerful Knowledge-based Apps that implement your profitable digital business
				<a href="https://www.amazon.com/passive-income-Books/s?k=passive+income" target=0>passive income</a> based.</p>
							</li>
							<li class="icon fa-industry">
								<h3>Business modeling</h3>
				<p>Using standard design processes such as <a href="https://strategyzer.com/canvas" terget=0>Canvas</a>, you come to identify the most
            	effective strategy for introducing the desired innovation in your business.</p>
            	<p>The design involves context analysis, requirements definition, value
              	proposition modeling, customer understanding, revenue streams selection, patterns selection, and so on.</p>
              	<p>The outcome of my work will describe, up to Pitch Deck and Business Plan,
                the new innovative business models, appropriate to the challenges of the Digital Economy. </p>
							</li>
						</ul>
					</div>

				</section>


				<!-- Three -->
					<section id="three" class="wrapper alt style2">

						<section class="spotlight">
							<div class="image"><img src="images/portfolio/babel.jpg" alt="" /></div><div class="content">
								<h2>«Ontology of Esperanto» Research Project</h2>
								<p>The project «<a href="https://github.com/delpix/esperanto-ontology" target=0>Ontology of Esperanto</a>» is proposed as one of the first attempts to produce a formal representation of a
									<code>non-formal</code> language (natural language), based on the Semantic Web standards.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/portfolio/cuneiform.jpg" alt="" /></div><div class="content">
								<h2>«An OWL Ontology of a Sumerian Grammar» Research Project</h2>
								<p>The outcomes of the project «<a href="https://github.com/delpix/sumerian-ontology" target=0>An OWL Ontology of a Sumerian Grammar</a>»
									demonstrate how it is possible to apply the technologies of the Semantic Web also to formlize the grammar of an <code>ancient	natural language</code>.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/portfolio/prototype.png" alt="" /></div><div class="content">
								<h2> «Dhi Qar Knowledge Base» Research Project</h2>
								<p>«<a href="https://github.com/delpix/dhiqar-knowledgebase" target=0>Dhi Qar Knowledge Base</a>» is the name of the software development project performed in 2007-2008, aimed to create an innovative Knowledge-driven System designed for
									cataloguing <code>archaeological and epigraphic finds</code>.</p>
							</div>
						</section>

					</section>


				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Let's get in touch</h2>
								<p>Ready to start your next project with me? That's great! Give me a call using e-mail or social networks
								 and I will get back to you as soon as possible.</p>
								<p class="button special">
									{% for socloc in site.social %}
							    {% if socloc[0] == 'email' %}
									<a href="mailto:{{ socloc[1] }}" class="icon fa-envelope-o">&nbsp; Give me a call</a></p>
									{% endif %}
									{% endfor %}
							</header>

							<ul class="actions vertical">
								<li> </li>
						    {% for socloc in site.social %}
						    {% if socloc[1] %}
						    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }} fa-2x"></a></li>
						    {% endif %}
						    {% endfor %}
						  </ul>

						</div>

					</section>
