---
layout: landing
---
				<!-- Banner -->

					<section id="banner">
						<div class="inner">
							<img src="{{ site.baseurl }}/images/people/delpix.png" alt="delpix">
							<p></p>
						</div>

						<div class="inner">
							<h2>{{ site.title }}</h2>
							<h3>{{ site.description | markdownify }}</h3>
						</div>

						 	<a href="#one" class="more scrolly">Find Out More</a>

					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>I've got what you need!</h2>
								<p><em>I’m a technologist by calling, a businessman by circumstance, a startup founder by choice, and an innovator by destiny.</br> 
									Over the course of my career, I’ve worked as an IT management consultant for 13 years, served as a CEO for 12 years, led 
									projects as a manager for 8 years, and honed my skills as a programmer for 10 years.</em></p>
							</header>

							<p><img src="images/people/Luca-2018.jpg" class="img-circle" width="220px">
							  <h5>Luca Severini</h5></p>

							<p>I currently focus on <b>Data Protection</b>, <b>Cybersecurity</b>, and <b>Artificial Intelligence</b>. 
								I help companies achieve <b>compliance</b> with regulations and industry best practices, also offering <b>auditing services</b> 
								in these areas.</p>

							<p>I have worked for many years in <b>Artificial Intelligence</b> and <b>Blockchain</b>. Now, I help entrepreneurs  
								develop innovative <b>business models</b> build on these technologies, driving <b>Digital Economy</b>. 
								Many years ago, fueled by my passion for digital electronics and microprocessors, I learned to program in 
								<a href="http://www.6502.org/tutorials/" target="0"><b>6502 Assembly</b></a> on the iconic 
								<a href="https://apple2history.org/" target="0"><b>Apple II</b></a>. Today, I focus on designing <b>Embedded 
								Systems</b> that enhance the value chain of the business models I develop.</p>
								
						</div>

					</section>


				<!-- Two -->
				<section id="two" class="wrapper style3 special">
					<div class="inner">
						<header class="major">
							<h2>At your service!</h2>
							<p><em>I want help you to create and grow your great, beautiful and profitable <b>Digital Business</b>!</em></p>
						</header>
						<ul class="features">
							<li class="icon fa-shield">
								<h3>Data Protection</h3>
				<p>Ensuring the privacy of individuals whose data is processed is not only a legal obligation, but above all a matter of respecting fundamental rights.</p>
                <p>Implementing an efficient <b>Data Protection Management System</b> (DPMS) helps raise awareness of the risks to the freedoms and rights of data subjects, thus 
					avoiding fines and penalties.</p>
				<p>My work involves the design and support for the implementation of a company-specific DPMS, as well as assistance in maintaining compliance with 
					the regulations set forth by <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32016R0679" target=0>EU Regulation 2016/679</a>.</p>
							</li>							
							<li class="icon fa-lock">
								<h3>Cybersecurity</h3>
				<p>Protecting a company's cyber perimeter is a crucial element in ensuring business security, continuity, and safeguarding its reputation.</p>
            	<p>Implementing an efficient <b>Cybersecurity Management System</b> (CSMS) enhances the understanding of a company’s digital assets and increases 
					awareness of related cybersecurity risks.</p>
				<p>My work focuses on designing and supporting the implementation of a customized CSMS tailored to the company, based on the structure of the
				<a href="https://www.nist.gov/cyberframework" target=0>NIST Cybersecurity Framework</a>.</p>
							</li>
							<li class="icon fa-cogs">
								<h3>Artificial Intelligence</h3>
				<p>The <a href="https://eur-lex.europa.eu/eli/reg/2024/1689/oj" target=0>AI Act</a> is a proposed regulation by the European Union 
					aimed at governing the use of Artificial Intelligence by classifying applications based on their level of risk and imposing stricter rules 
					for high-risk <b>AI technologies</b>, to ensure security, transparency, and respect for fundamental rights.</p>
                <p>My work focuses on assisting companies wishing to adopt these technologies, helping them avoid configuration errors and non-compliant uses.</p>
							</li>
							<li class="icon fa-industry">
								<h3>Business Modelling</h3>
				<p>With the increasing adoption of automated digital services through technologies such as <b>Blockchain</b>, <b>Artificial Intelligence</b>, 
					and <b>Embedded Systems</b> in value creation, <b>Decentralized Finance</b> becomes essential for new digital business models.</p>
              	<p>I encourage every entrepreneur to revisit their business models and carefully evaluate whether they can be reimagined according to De-Fi paradigms. </p>
				<p>Using standard design processes such as <a href="https://strategyzer.com/canvas" terget=0>Canvas</a>, my work focuses on assisting entrepreneurs 
					in designing business models that are suited to the future challenges of the Digital Economy.</p>				
							</li>							
						</ul>
					</div>

				</section>


				<!-- Three -->
					<section id="three" class="wrapper alt style2">

						<section class="spotlight">
							<div class="image"><img src="images/portfolio/babel.jpg" alt="" /></div><div class="content">
								<h2>«Ontology of Esperanto» Research Project</h2>
								<p>The project «<a href="https://github.com/delpix/esperanto-ontology" target=0>Ontology of Esperanto</a>» is proposed as one of the first attempts to produce a formal representation of a
									<code>non-formal</code> language (natural language), based on the Semantic Web standards.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/portfolio/cuneiform.jpg" alt="" /></div><div class="content">
								<h2>«An OWL Ontology of a Sumerian Grammar» Research Project</h2>
								<p>The outcomes of the project «<a href="https://github.com/delpix/sumerian-ontology" target=0>An OWL Ontology of a Sumerian Grammar</a>»
									demonstrate how it is possible to apply the technologies of the Semantic Web also to formlize the grammar of an <code>ancient	natural language</code>.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/portfolio/prototype.png" alt="" /></div><div class="content">
								<h2> «Dhi Qar Knowledge Base» Research Project</h2>
								<p>«<a href="https://github.com/delpix/dhiqar-knowledgebase" target=0>Dhi Qar Knowledge Base</a>» is the name of the software development project performed in 2007-2008, aimed to create an innovative Knowledge-driven System designed for
									cataloguing <code>archaeological and epigraphic finds</code>.</p>
							</div>
						</section>

					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Get in touch</h2>
								<p>Are you ready to kick off your next project with me? That's fantastic! Feel free to reach out via email or social media, 
									and I'll respond as quickly as possible.</p>
								<p class="button special">
									{% for socloc in site.social %}
							    {% if socloc[0] == 'email' %}
									<a href="mailto:{{ socloc[1] }}" class="icon fa-envelope-o">&nbsp; Give me a call</a></p>
									{% endif %}
									{% endfor %}
							</header>

							<ul class="actions vertical">
								<li> </li>
						    {% for socloc in site.social %}
						    {% if socloc[1] %}
						    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }} fa-2x"></a></li>
						    {% endif %}
						    {% endfor %}
						  </ul>

						</div>

					</section>
