---
layout: landing
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>{{ page.description }}</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

  <section class="wrapper style3">
    <div class="inner">
      <p class="button">
        <a href="{{ site.baseurl }}/index.html" class="icon fa-home">&nbsp; Back to Home</a></p>
      
		  <p class="button">
			  <a href="https://delpix.medium.com/" target=0 class="icon fa-medium">&nbsp; Read me also on Medium!</a></p>
    </div>
  </section>

</article>
