---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>{{ page.description }}</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

  <section class="wrapper style3">
    <div class="inner">
      <p align="center">
  			<img src="{{ site.baseurl }}/images/people/delpix.png" alt=""><br>
  			«<i>We are rebelling against the sluggishly supine admiration for old operating systems,
  			old languages, archaic standards, and against the enthusiasm for everything bug-ridden,
  			rotting with code bloat, and eaten away by obsolescence</i>»
  			<a href="http://www.graficaobscura.com/future/futman.html" target=0>The Futurist Programmers</a>
  		</p>
    </div>
  </section>

</article>
